<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MINI ORM</title>
</head>
<body>
    <h1>MINI ORM</h1>
    <a href="/supervisor">Supervisor</a>
    <a href="/project">Project</a>
</body>
</html>